@import "../../Common/styles";

@keyframes RotationAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.ActionLogs {
  grid-area: logger;
  background-color: darken($Dark400, 6);
  border-left: 2px solid $Dark100;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "header" "logs";

  .LogsHeader {
    background-color: transparentize($Black, 0.8);
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 10px 30px;

    .ConnectionInformation {
      font-size: 11px;
      text-transform: uppercase;

      .Network {
        font-weight: 600;
        color: $Orange200;
        margin-left: 5px;
      }
    }

    .ConnectionLoader {
      display: flex;
      align-items: center;

      .ZippoIcon {
        transform-origin: center;
        display: block;
        color: $Orange100;
        animation: RotationAnimation 1s linear infinite;
      }
      span {
        margin-left: 10px;
        font-size: 11px;
        text-transform: uppercase;
      }
    }
  }

  .LogsContent {
    grid-area: logs;
    overflow-y: auto;
  }

  .LogsWrapper {
    padding: 10px 15px;
  }

  .LogDivider {
    &:not(:last-child) {
      margin: 5px 0;
      border-bottom: 1px solid transparentize($Black, 0.9);
    }
  }

  .LogEntry {
    display: flex;
    align-items: flex-start;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.2s;

    .BasicInfo {
      flex: 0 0 140px;
      margin-right: 20px;
      padding-top: 1px;

      .LogLevel {
        text-transform: uppercase;
        font-size: 13px;
        margin-bottom: 5px;
      }
      .LogTimestamp {
        font-size: 11px;
        opacity: 0.5;
      }
    }
    .LogDetails {
      flex: 1 1 0;
      padding: 7px 0;
      font-size: 12px;

      .MainMessage {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ZippoIcon {
          font-size: 20px;
          opacity: 0;
          transition: 0.2s;
        }
      }

      .LogType {
        opacity: 0.75;
        margin-right: 10px;
      }
    }

    &.Error {
      .LogLevel, .MainMessage {
        color: $Red;
      }
    }

    &:hover {
      background-color: transparentize($Black, 0.9);
      .MainMessage .ZippoIcon {
        opacity: 0.75;
        color: $White;
      }
    }
  }
}
