@import "../../Common/styles";

.Header {
  background-color: $Dark400;
  grid-area: debugger-header;
  display: flex;
  justify-content: space-between;

  .LogoWrapper {
    padding: 8px 12px;

    img {
      display: block;
    }
  }

  .MainWrapper {
    display: flex;
    align-items: center;
  }

  .ActionsWrapper {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
}
