$Dark500: #012345;
$Dark400: #123456;
$Dark300: #234567;
$Dark200: #345678;
$Dark100: #456789;

$Red: #ea5455;
$Green: #dbff3d;

$Orange200: #EB6B56;
$Orange100: #FFC153;

$White: #fff;
$Black: #000;
